@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Metana";
  src: url("/fonts/NeueMetana-Regular.otf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Metana";
  src: url("/fonts/NeueMetana-Bold.otf") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #0F0F0F;
  --primary-text: #f5f5f5;
  --secondary-text: #c3c3c3;
  --accent: #EFB621;
  --hover-accent: #f9bf2c;
  --container: #1F1B1E;
  --inner-container: #282427;
}

body {
  color: var(--primary-text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: white; /* Меняем цвет стрелок */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #facc15; /* Желтый цвет при наведении */
}

.metanaTitle {
  font-family: "Metana";
  font-weight: bold;
}

/* Цвет фона - #0F0F0F
Цвет контейнеров - #1F1B1E
Цвет контейнеров внутри родительских контейнеров - #282427

Основной текст - #F5F5F5
Второстепенный текст - #C3C3C3
Акцентный цвет - #EFB621 */